input{margin: 10px;}
#submit_button{margin: 20px;}
#sort_button{margin: 20px;display: none;}
#display_name{
    font-size: 25px;
    color: red;
    background-color: lightblue;
    width: 50%;
    padding: 10px;
}
#display_name_join{
    font-size: 25px;
    background-color: lightgreen;
    color:darkblue;
    width: 50%;
    padding: 10px;
}